<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title th:text="${title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<nav class="container">
    <ul>
        <li><strong th:text="${yourTicket}"></strong></li>
    </ul>
    <ul>
        <li><a th:href="@{/check}" th:text="${checkTicket}"></a></li>
    </ul>
</nav>

<main class="container">

    <h2 th:text="${greetings}"></h2>
    <h3 th:text="${information}"></h3>

    <th:block th:if="${person}">

        <p th:text="'KY ' + ${person.getId()}"></p>
        <p th:text="${moonTicket}"></p>
        <p th:text="${person.getFirstName()}"></p>
        <p th:text="${person.getLastName()}"></p>
        <p th:text="${location}"></p>
        <p th:text="${locationParameter}"></p>
        <p th:text="${rocket}"></p>
        <p th:text="${rocketName}"></p>
        <p th:text="${departure}"></p>
        <p th:text="${arrival}"></p>
        <p th:text="${earthName}"></p>
        <p th:text="${moonName}"></p>

        <input type="submit" th:value="${download}" onclick="downloadPdf('${person.email}')" />

    </th:block>

    <script>
        function downloadPdf(sessionId) {
            var formData = new FormData();
            formData.append("sessionId", sessionId);

            fetch('/downloadPdf', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`Ошибка при загрузке PDF: ${response.status}`);
                    }
                    return response.blob();
                })
                .then(blob => {
                    var url = window.URL.createObjectURL(blob);
                    window.open(url, '_blank');
                })
                .catch(error => {
                    console.error('Ошибка при загрузке PDF:', error.message);
                });
        }
    </script>

    <h4 th:text="${videoDescription}"></h4>

    <nav class="container">
        <form th:action="@{/ticketlanguage}" method="post">
            <select name="lang">
                <option value="en">English</option>
                <option value="uk">Українська</option>
            </select>
            <input type="submit" th:value="${changeLanguage}"/>
        </form>
    </nav>
</main>

<nav class="container">
    <ul>
        <li><a th:href="@{/}" th:text="${main}"></a></li>
        <li><a th:href="@{/map}" th:text="${map}"></a></li>
        <li><a th:href="@{/faq}" th:text="${faq}"></a></li>
    </ul>
</nav>
</body>
</html>

